body {
  background-color: pink;
  margin: 0px;
}
#header {
  background-color: rgba(152, 172, 82, 0.5);
  border: 1px solid black;
  width: 100vw;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
nav {
  display: flex;
  justify-content: space-evenly;
}

.visibility {
  background-color: rgba(152, 172, 82, 0.5);
  border: 1px solid black;
}

ul {
  display: flex;
}

#search {
  display: flex;
}
#left-nav {
  width: 43%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
